<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
 <meta name="Keywords" content="华商基金,金牛基金,基金直销,基金定投,基金,货币基金,余额理财,实时赎回,费率1折,基金怎么买,热销基金,华商盛世成长,华商价值共享,华商领先企业,
华商新趋势优选,华商主题精选,华商优势行业" />
<meta name="Description" content="华商基金管理有限公司—基金网上直销—费率1折优惠" />
<title>华商基金管理有限公司 -天利宝|基金|理财|专户</title>
	<!-- 后加载公用样式先加载滑动组件样式 -->
	<link rel="stylesheet" href="/osoa/css/style.css" />
	
    <link rel="stylesheet" href="/osoa/css/kn.css" />
<link rel="stylesheet" href="/osoa/css/zh.css" />
    <link rel="stylesheet" href="/osoa/css/howe.css" />
 <link rel="stylesheet" href="/osoa/css/datepicker.css" />
</head>
<body>
	<div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
		
		

	      
		
	    <div id="bodyContent">
	    	<div id="fund_detail" style="display: block;"> 
	     		<div class="wrapper">
	     		 <div class="main">
		            <div class="crumbs">
		                <div class="crumbs_core">
		                    <a href="/osoa/views/index.html">首页</a>
		                    <small>></small>
		                    <a href="/osoa/views/fund/index.html">旗下基金</a>
		                    <small>></small>
		                    <span>基金详情</span>
		                </div><!-- /.crumbs -->
		            </div><!-- /.crumbs -->
											
						
						

						
												
						
							<div class="fund_banner">
								<div class="fund_banner_content">
									<h1 id="fund_index_name">华商信用增强C</h1>
				
									<ul class="fund_banner_left">
										<li>
											<span style="font-size:16px;color:black;">净值（2017-11-01）</span>
											
													<strong class="txt_num" id="base_unit_nv">1.059</strong>
												
											<small style="font-size:16px;color:black;">基金代码： 001752</small>
										</li>
										<li>
											<span style="font-size:16px;color:black;">日涨跌</span>

																														<strong class="txt_num green"><label id="base_daily_change">-0.09</label><span>
															<font color="#31be66" >%</font>
														</span> 
													</strong>
										
										
		                        </li>
		                    </ul><!-- /.fund_banner_left -->
		
		                    <ul class="fund_banner_right">
		                        <li>
		                            基金类型：债券型<br />
		                            风险类型：中低风险<br />
		                            <a target="_blank" href="https://trade.hsfund.com/etrading/">申购</a>
		                        </li>
		                        <li>
		                            最低申购金额：<span  style="font-size:16px;" >1元</span><br />
		                            成立日期： 2015-09-08<br />
		                            <a class="border_btn" target="_blank"  href="https://trade.hsfund.com/etrading/">定投</a>
		                        </li>
		                    </ul><!-- /.fund_banner_right -->
		                </div><!-- /.fund_banner_content -->
						
						

	      
		            </div><!-- /.fund_banner -->
		
		            <div class="center fund_center">
		                <ul class="fund_thumbs">
																				<ul class="fund_thumbs">
												<li class="fund_thumbs_0">
													<strong>业绩长期领先</strong>
													<p>在权益类和固定收益类投资领域，均取得了持续领先同业的良好业绩</p>
												</li>
												<li class="fund_thumbs_1">
													<strong>深受业界好评</strong>
													<p>品牌影响力不断提升，在主流机构选中屡获殊荣</p>
												</li>
												<li class="fund_thumbs_2">
													<strong>关注企业成长</strong>
													<p>坚定投资优秀企业，将ESG责任投资理念纳入选股指标</p>
												</li>
												<li class="fund_thumbs_3">
													<strong>执著持续分红</strong>
													<p>注重将投资收益及时转化为红利，累计为持有人分红超过百亿元</p>
												</li>
											</ul><!-- /.fund_thumbs -->
											

		                </ul><!-- /.fund_thumbs -->
		
		                <h2 class="title_h2">业绩表现</h2>

                <div class="performance_left">
                    <strong>历年份额累计净值增长率与业绩比较基准收益率走势对比图</strong>

                    <div id="echart_tab" class="echart_tab">
                        
                    </div><!-- /.echart_tab -->
                    <div id="echart_fund" class="echart_fund"></div><!-- /.echart_fund -->
                    <div class="fund_des">华商红利优选混合 （001188）  来源：华商基金  数据截至：2011年1月1日至2017年8月22日</div>
                </div><!-- /.performance_left -->
		
		                <div class="tab_box">
		                    <ul class="tabs">
		                        <li id="fund_base" class="current"><a href="javascript:void(0)">基本信息</a></li>
		                        <li id="fund_group"><a href="javascript:void(0)">投资组合</a></li>
		                        <li id="fund_nv"><a href="javascript:void(0)">基金净值</a></li>
		                        <li id="fund_mana"><a href="javascript:void(0)">基金经理</a></li>
		                        <li id="fund_rate"><a href="javascript:void(0)">费率</a></li>
		                        <li id="fund_organiza"><a href="javascript:void(0)">销售机构</a></li>
		                        <li id="fund_article"><a href="javascript:void(0)">基金公告</a></li>
		                    </ul><!-- /ul.tab_box -->
		
									                    <div class="tab_content current" fund_type='2'>
		                        <div class="fund_index">
		                            <table>
									
									
		                                <tbody>
		                                    <tr>
		                                        <td class="table_lbl" width="14%">基金名称</td>
		                                        <td width="36%">华商信用增强C</td>
		                                        <td class="table_lbl" width="14%">基金代码</td>
		                                        <td width="36%">001752</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">基金运作方式</td>
		                                        <td>开放</td>
		                                        <td class="table_lbl">基金类型</td>
		                                        <td>债券型</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">风险评价</td>
		                                        <td>中低风险</td>
		                                        <td class="table_lbl">最低申购金额</td>
		                                        <td>1元</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">管理人</td>
		                                        <td>华商基金管理有限公司</td>
		                                        <td class="table_lbl">基金经理</td>
		                                        <td> 李海宝</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">托管人</td>
		                                        <td>中国建设银行股份有限公司</td>
		                                        <td class="table_lbl">合同生效日期</td>
		                                        <td>2015-09-08</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">业绩比较基准</td>
		                                        <td colspan="3">中证全债指数</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资目标</td>
		                                        <td colspan="3">本基金充分考虑资产的安全性、收益性和流动性，积极进行债券配置，并在控制风险的前提下适度参与权益投资，力争实现超越业绩基准的投资表现。</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资范围</td>
		                                        <td colspan="3">本基金的投资范围主要为国内依法发行固定收益类品种，包括国内依法发行上市的国债、央行票据、地方政府债、金融债、公司债、企业债、短期融资券、资产支持证券、可转换债券、可分离债券、中期票据、中小企业私募债、回购和银行存款等金融工具、国内依法发行上市的股票(含中小板、创业板及其他经中国证监会核准上市的股票)、权证等权益类资产以及法律法规或中国证监会允许基金投资的其他固定收益类证券品种（但须符合中国证监会的相关规定）。
基金的投资组合比例为：本基金投资债券资产的比例不低于基金资产的80%，其中投资于信用债券的资产占非现金基金资产的比例不低于80%；股票资产的投资比例合计不超过基金资产的20%；基金持有的全部权证市值不超过基金资产净值的3%；现金或到期日在一年以内的政府债券的比例合计不低于基金资产净值的5%。</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资策略</td>
		                                        <td colspan="3">本基金充分考虑资产的安全性、收益性以及流动性，在严格控制风险的前提下力争实现资产的稳定增值。在资产配置中，本基金的投资以信用债为主、权益类资产为辅，通过密切关注市场变化，持续研究债券和股票市场运行状况、研判市场风险，适当参与确定性较强的股票市场投资，在确保资产稳定增值的基础上，通过积极主动的资产配置，力争实现超越业绩比较基准的投资收益。</td>
		                                    </tr>
											
					
		                                </tbody>
		                            </table>
		                        </div>
		                    </div><!-- /.tab_content -->
								<div id ='quarterly_strategy' style="display:none;">
									    2017年2季度基金尚可，二季度债券市场调整幅度比较大，基金在债券方面没有做大的调整，主要以应对赎回为住，作为信用债产品在流动性较差的情况下，信用债跌幅会比较利率债更大，由于基金调仓困难，基金无法参与转债和更为积极的权益仓位，二季度权益市场分化比较大，基金将主要品种配置在估值较为合理业绩增长稳定的个股方面，但由于市场青睐低估值大盘股，所以表现一般，直到6月底风格开始有所变化，收益才有一定的积极的变化。
							    </div>
		                </div><!-- /.tab_box -->
		            </div><!-- /.center -->
		        </div><!-- /.main -->
			     </div>
	     	</div>
	    </div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
     <script src="/osoa/js/jquery.min.js"></script>
    <script src="/osoa/js/echarts.common.min.js"></script>
<script src="/osoa/js/datepicker.js"></script>
	<script src="/osoa/js/main.js"></script>
    <script src="/osoa/js/detail_chart.js"></script>	
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "fund/detail", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>