<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
 <meta name="Keywords" content="华商基金,金牛基金,基金直销,基金定投,基金,货币基金,余额理财,实时赎回,费率1折,基金怎么买,热销基金,华商盛世成长,华商价值共享,华商领先企业,
华商新趋势优选,华商主题精选,华商优势行业" />
<meta name="Description" content="华商基金管理有限公司—基金网上直销—费率1折优惠" />
<title>华商基金管理有限公司 -天利宝|基金|理财|专户</title>
	<!-- 后加载公用样式先加载滑动组件样式 -->
	<link rel="stylesheet" href="/osoa/css/style.css" />
	
    <link rel="stylesheet" href="/osoa/css/kn.css" />
<link rel="stylesheet" href="/osoa/css/zh.css" />
    <link rel="stylesheet" href="/osoa/css/howe.css" />
 <link rel="stylesheet" href="/osoa/css/datepicker.css" />
</head>
<body>
	<div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
		
		

	      
		
	    <div id="bodyContent">
	    	<div id="fund_detail" style="display: block;"> 
	     		<div class="wrapper">
	     		 <div class="main">
		            <div class="crumbs">
		                <div class="crumbs_core">
		                    <a href="/osoa/views/index.html">首页</a>
		                    <small>></small>
		                    <a href="/osoa/views/fund/index.html">旗下基金</a>
		                    <small>></small>
		                    <span>基金详情</span>
		                </div><!-- /.crumbs -->
		            </div><!-- /.crumbs -->
											
						
						

						
												
						
							<div class="fund_banner">
								<div class="fund_banner_content">
									<h1 id="fund_index_name">华商新趋势优选</h1>
				
									<ul class="fund_banner_left">
										<li>
											<span style="font-size:16px;color:black;">净值（2017-11-01）</span>
											
													<strong class="txt_num" id="base_unit_nv">2.403</strong>
												
											<small style="font-size:16px;color:black;">基金代码： 166301</small>
										</li>
										<li>
											<span style="font-size:16px;color:black;">日涨跌</span>
													<strong class="txt_num"><label id="base_daily_change">1.31</label><span>
															<font color="#f34e56">%</font>
														</span> 
													</strong>
										
										
		                        </li>
		                    </ul><!-- /.fund_banner_left -->
		
		                    <ul class="fund_banner_right">
		                        <li>
		                            基金类型：混合型<br />
		                            风险类型：中高风险<br />
		                            <a target="_blank" href="https://trade.hsfund.com/etrading/">申购</a>
		                        </li>
		                        <li>
		                            最低申购金额：<span  style="font-size:16px;" >100元</span><br />
		                            成立日期： 2012-09-06<br />
		                            <a class="border_btn" target="_blank"  href="https://trade.hsfund.com/etrading/">定投</a>
		                        </li>
		                    </ul><!-- /.fund_banner_right -->
		                </div><!-- /.fund_banner_content -->
						
						

	      
		            </div><!-- /.fund_banner -->
		
		            <div class="center fund_center">
		                <ul class="fund_thumbs">
																				<ul class="fund_thumbs">
												<li class="fund_thumbs_0">
													<strong>业绩长期领先</strong>
													<p>在权益类和固定收益类投资领域，均取得了持续领先同业的良好业绩</p>
												</li>
												<li class="fund_thumbs_1">
													<strong>深受业界好评</strong>
													<p>品牌影响力不断提升，在主流机构选中屡获殊荣</p>
												</li>
												<li class="fund_thumbs_2">
													<strong>关注企业成长</strong>
													<p>坚定投资优秀企业，将ESG责任投资理念纳入选股指标</p>
												</li>
												<li class="fund_thumbs_3">
													<strong>执著持续分红</strong>
													<p>注重将投资收益及时转化为红利，累计为持有人分红超过百亿元</p>
												</li>
											</ul><!-- /.fund_thumbs -->
											

		                </ul><!-- /.fund_thumbs -->
		
		                <h2 class="title_h2">业绩表现</h2>

                <div class="performance_left">
                    <strong>历年份额累计净值增长率与业绩比较基准收益率走势对比图</strong>

                    <div id="echart_tab" class="echart_tab">
                        
                    </div><!-- /.echart_tab -->
                    <div id="echart_fund" class="echart_fund"></div><!-- /.echart_fund -->
                    <div class="fund_des">华商红利优选混合 （001188）  来源：华商基金  数据截至：2011年1月1日至2017年8月22日</div>
                </div><!-- /.performance_left -->
		
		                <div class="tab_box">
		                    <ul class="tabs">
		                        <li id="fund_base" class="current"><a href="javascript:void(0)">基本信息</a></li>
		                        <li id="fund_group"><a href="javascript:void(0)">投资组合</a></li>
		                        <li id="fund_nv"><a href="javascript:void(0)">基金净值</a></li>
		                        <li id="fund_mana"><a href="javascript:void(0)">基金经理</a></li>
		                        <li id="fund_rate"><a href="javascript:void(0)">费率</a></li>
		                        <li id="fund_organiza"><a href="javascript:void(0)">销售机构</a></li>
		                        <li id="fund_article"><a href="javascript:void(0)">基金公告</a></li>
		                    </ul><!-- /ul.tab_box -->
		
									                    <div class="tab_content current" fund_type='3'>
		                        <div class="fund_index">
		                            <table>
									
									
		                                <tbody>
		                                    <tr>
		                                        <td class="table_lbl" width="14%">基金名称</td>
		                                        <td width="36%">华商新趋势优选</td>
		                                        <td class="table_lbl" width="14%">基金代码</td>
		                                        <td width="36%">166301</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">基金运作方式</td>
		                                        <td>开放</td>
		                                        <td class="table_lbl">基金类型</td>
		                                        <td>混合型</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">风险评价</td>
		                                        <td>中高风险</td>
		                                        <td class="table_lbl">最低申购金额</td>
		                                        <td>100元</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">管理人</td>
		                                        <td>华商基金管理有限公司</td>
		                                        <td class="table_lbl">基金经理</td>
		                                        <td> 周海栋</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">托管人</td>
		                                        <td>中国工商银行股份有限公司</td>
		                                        <td class="table_lbl">合同生效日期</td>
		                                        <td>2012-09-06</td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">业绩比较基准</td>
		                                        <td colspan="3"><p>沪深300指数收益率×65%＋上证国债指数收益率×35%</p></td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资目标</td>
		                                        <td colspan="3"><p>本基金将重点投资于社会及国家发展出现的具有重大变化且符合产业自身发展新趋势以及国家“十二五”战略规划中的新兴产业和行业方向，精选质地优秀、发展趋势良好，且具备估值优势的上市公司，追求超过业绩比较基准的投资回报及基金资产的长期稳定增值。</p></td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资范围</td>
		                                        <td colspan="3"><p>本基金股票资产的投资比例为0-95%，其中投资于新趋势方向的上市公司股票不低于非现金基金资产的80%，债券、权证、银行存款、货币市场工具和资产支持证券及法律法规或中国证监会允许基金投资的其他金融工具占基金资产的5%—100%，其中权证占基金资产净值的0—3%，每个交易日日终在扣除股指期货合约需缴纳的交易保证金后，保持现金或者到期日在一年以内的政府债券的比例合计不低于基金资产净值的5%，本基金参与股指期货交易，应符合法律法规规定和基金合同约定的投资限制并遵守相关期货交易所的业务规则。</p></td>
		                                    </tr>
		                                    <tr>
		                                        <td class="table_lbl">投资策略</td>
		                                        <td colspan="3"><p>本基金坚持“自上而下”、“自下而上”相结合的投资视角。在实际投资过程中，一方面根据宏观经济数据，积极主动调整大类资产配置比例；另一方面，秉承优选“新趋势”核心理念，“自下而上”精选优质成长上市公司股票，力求实现基金资产的长期稳健增值。。</p></td>
		                                    </tr>
											
					
		                                </tbody>
		                            </table>
		                        </div>
		                    </div><!-- /.tab_content -->
								<div id ='quarterly_strategy' style="display:none;">
									<p>2017年2季度，一方面经济的韧性超出预期，地产、汽车、家电等销售超出预期，上游钢铁、造纸、煤炭价格也维持较高位置；另一方面，IPO融资保持常态化进行，金融监管方面也不断加强，对市场的各类非标资金进行整肃清理，去杠杆不断推进。因此整体市场风险偏好处于较低水平，市场风格偏向价值，以深圳100、中证100为代表的白马股及以白酒、家电为代表的消费股大幅跑赢市场。周期股总体在一季度表现后出现前低后高的走势，反应了市场在一季度末对经济的悲观预期和后续经济表现韧性超出预期的结果。而以TMT为代表的主题和成长股表现较差。总体来看，整体市场走向偏向于业绩为主的价值投资，而且我们认为，在目前的经济和监管条件下，这种市场风格很有可能会持续较长的时间。从本基金表现来看，本季度继续保持相对均衡仓位，由于在下半季度配置上过早减持了消费等蓝筹股，另外还持有较多的成长股，本季度业绩明显跑输基准。</p>
							    </div>
		                </div><!-- /.tab_box -->
		            </div><!-- /.center -->
		        </div><!-- /.main -->
			     </div>
	     	</div>
	    </div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
     <script src="/osoa/js/jquery.min.js"></script>
    <script src="/osoa/js/echarts.common.min.js"></script>
<script src="/osoa/js/datepicker.js"></script>
	<script src="/osoa/js/main.js"></script>
    <script src="/osoa/js/detail_chart.js"></script>	
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "fund/detail", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>