<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>华商基金</title>
    <link rel="stylesheet" href="/osoa/css/style.css">
    <link rel="stylesheet" href="/osoa/css/kn.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
    <link rel="stylesheet" href="/osoa/css/swiper.css">
</head>

<body>
    <div class="wrapper">
        <!-- right -->
        <div id="right"></div>

        <!-- /.right -->

        <!--头部start-->
        <div id="headerContent"></div>
        <!--头部end-->

        <div id="bodyContent">
            <div id="about_team" style="display: block;">
                <div class="main grey_main">
                    <div class="text_banner text_banner_1">
                        <div class="text_banner_core"></div>
                    </div>
                    <!-- /.text_banner -->

                    <div class="center">
                        <div class="left" id="include_menu">
                            <div class="left_list">
                                <a href="/osoa/views/about/index.html">公司简介</a>
                                <a href="/osoa/views/about/senior.html">高管致辞</a>
                                <a href="/osoa/views/about/ability.html">投研能力</a>
                                <a class="current" href="/osoa/views/about/team.html">投研团队</a>
                                <a href="/osoa/views/about/big.html">大事记</a>
                                <a href="/osoa/views/about/duty.html">社会责任</a>
                                <a href="http://zhaopin.hsfund.com/" target="_blank">人才招聘</a>
                                <a href="/osoa/views/about/connect.html">联系我们</a>
                            </div>
                            <!-- /.left_list -->

                            <div class="left_box left_box_qr">
                                												
																<img  width='157px' height='158px' src="/upload/20170913/20170913195840838.png" alt="" />
 华商基金APP，基金交易30秒
                            </div>
                            <!-- /.left_box -->

                            <div class="left_box left_cs">
                                <strong>在线客服</strong>

                                <ul>
                                    <li>
                                        <a href="tel:400-700-8880">400-700-8880</a>
                                    </li>
                                    <li>
                                        服务时间：<br /> 工作日8:30-11:30,13:00-17:00
                                    </li>
                                </ul>
                            </div>
                            <!-- /.left_box -->
                        </div>
                        <!-- /.left -->


                        <div class="core swipe-core">
                            <div class="article">
                                <h1 class="article_h1">投研团队</h1>
                            </div>

                            <div class="swiper-container-dashijian dashijian">

                                <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203740518.jpg">
                                                        <div class="name">梁永强</div>
                                                        
                                                        <div class="info">
                                                            中国证券投资基金业协会第二届理事会会员理事，华商基金公司总经理，投资决策委员会委员，华商动态阿尔法混合型基金基金经理，华商主题精选混合型基金基金经理，华商新锐产业混合型基金基金经理，华商未来主题混合型基金基金经理，经济学博士，15年证券从业经历。2002年7月至2004年7月，就职于华龙证券有限公司投资银行部，历任研究员、高级研究员。2004年7月至2005年12月担任华商基金管理有限公司筹备组成员；公司成立后历任投资管理部副总经理、量化投资部总经理、公司副总经理。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203751419.jpg">
                                                        <div class="name">梁伟泓</div>
                                                        
                                                        <div class="info">
                                                            华商基金总经理助理兼投资总监，华商保本1号混合型基金基金经理，华商收益增强债券型基金基金经理，华商双债丰利债券型基金基金经理，华商双翼平衡混合型基金基金经理，CFA，13年证券从业经历。1998年7月至2001年7月，就职于中国工商银行广东省分行，任财务分析师；2003年7月至2004年4月，就职于海科创业投资公司，任投资专员；2004年4月至2006年3月，就职于平安资产管理公司，任投资组合经理；2006年3月至2008年12月，就职于生命人寿保险公司，任固定收益部总经理；2008年12月至2010年6月，就职于工银瑞信基金管理有限公司，任投资经理；2010年6月至2011年12月，就职于中国国际金融有限公司，任资管部副总经理；2011年12月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203848422.jpg">
                                                        <div class="name">周海栋</div>
                                                        
                                                        <div class="info">
                                                            华商基金投资管理部副总经理，华商策略精选混合型基金基金经理，华商新趋势优选混合型基金基金经理，华商优势行业灵活配置混合型基金经理，管理学硕士，9年证券从业经历。曾任上海慧旭药物研究所研究员，上海拓引数码技术有限公司项目经理，中国国际金融有限公司研究员，2010年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203802572.jpg">
                                                        <div class="name">李双全</div>
                                                        
                                                        <div class="info">
                                                            华商基金投资管理部副总经理，华商领先企业混合型基金基金经理、华商双驱优选混合型基金基金经理，金融学硕士，7年证券从业经验。2007年8月至2010年4月就职于SK能源公司从事研究工作；2010年4月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204106250.jpg">
                                                        <div class="name">蔡建军</div>
                                                        
                                                        <div class="info">
                                                            公司研究发展部副总经理，华商研究精选混合型基金基金经理，华商价值精选混合型基金基金经理，华商健康生活混合型基金基金经理，工学硕士，9年证券从业经历。曾任哥鲁巴生物科技（北京）有限公司研究员，天相投资顾问有限公司行业研究员，国都证券有限责任公司消费品组研究组长。2010年4月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203903921.jpg">
                                                        <div class="name">童立</div>
                                                        
                                                        <div class="info">
                                                            华商基金研究部总经理助理，华商新锐产业混合型基金基金经理，硕士，6年证券从业经历。2011年7月加入华商基金管理有限公司，任行业研究员。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204722802.jpg">
                                                        <div class="name">翟金林</div>
                                                        
                                                        <div class="info">
                                                            华商鑫安灵活配置混合型基金基金经理，华商新兴活力混合型基金基金经理，博士，16年证券从业经历。1985年7月至1990年9月、1992年7月至1994年9月，就职于安徽无为县六洲中学，任教师；1997年8月至1999年2月，就职于天津信托投资有限公司，任研究员；1999年2月至2000年7月，就职于津联集团资产管理公司，任项目经理；2001年7月至2003年7月，就职于申银万国证券研究所，任宏观部研究员；2003年7月至2009年11月，就职于太平洋资产管理公司，任固定收益部资深高级投资经理；2009年12月2017年5月，就职于中国人保资产管理有限公司，任权益研究投资部助理总经理；2017年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20171009/20171009101404173.png">
                                                        <div class="name">邓默</div>
                                                        
                                                        <div class="info">
                                                            量化投资部总经理，华商新量化混合型基金基金经理、华商量化进取混合型基金基金经理，数学博士，6年证券从业经历。2011年6月加入华商基金管理有限公司，从事金融工程与产品设计工作，曾任量化投资部总经理助理、产品创新部副总经理。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204136933.jpg">
                                                        <div class="name">王东旋</div>
                                                        
                                                        <div class="info">
                                                            量化投资部总经理助理，华商大盘量化混合型基金基金经理，统计学博士，6年证券从业经历。2011年5月加入华商基金管理有限公司，曾任金融工程师。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203918285.jpg">
                                                        <div class="name">张永志</div>
                                                        
                                                        <div class="info">
                                                            华商瑞丰混合型基金基金经理，华商瑞鑫定开债券型基金基金经理，华商稳健双利债券型基金基金经理，华商稳定增利债券型基金基金经理，华商稳固添利债券型基金基金经理，金融学硕士，11年证券从业经历。1999年9月至2003年7月，就职于工商银行青岛市市北一支行，任科员、科长等职务；2006年1月至2007年5月，就职于海通证券，任债券部交易员；2007年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204124275.jpg">
                                                        <div class="name">何奇峰</div>
                                                        
                                                        <div class="info">
                                                            华商民营活力混合型基金基金经理，华商盛世成长混合型基金基金经理，华商新兴活力灵活配置混合型基金基金经理，华商价值共享混合型发起式基金经理，经济学硕士，11年证券从业经历。曾任赛迪顾问股份有限公司高级分析师，长城证券金融研究所行业研究员、行业部经理。2010年1月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203937636.jpg">
                                                        <div class="name">高兵</div>
                                                        
                                                        <div class="info">
                                                            华商创新成长混合型基金基金经理，华商新常态混合型基金基金经理，华商乐享互联混合型基金基金经理，工程硕士，7年证券从业经验。2007年8月至2010年2月就职于普华永道中天会计师事务所，任高级审计师；2010年2月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204200544.jpg">
                                                        <div class="name">孙祺</div>
                                                        
                                                        <div class="info">
                                                            华商策略精选混合型基金基金经理，硕士，7年证券从业经历。2008年7月至2010年4月就职于天相投资顾问有限公司，任研究组主管；2010年4月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204256465.jpg">
                                                        <div class="name">马国江</div>
                                                        
                                                        <div class="info">
                                                            华商盛世成长混合型基金基金经理，华商红利优选混合型基金基金经理，华商智能生活混合型基金基金经理，工学硕士，8年证券从业资历。2008年7月至2010年6月，就职于天相投资顾问有限公司任研究员；2010年6月至2011年4月，就职于中再资产管理有限公司，任研究员；2011年4月，加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204225149.jpg">
                                                        <div class="name">鲁宁</div>
                                                        
                                                        <div class="info">
                                                            华商盛世成长混合型基金基金经理，华商润丰灵活配置混合型基金基金经理，金融学硕士，6年证券从业经历。2006年7月至2009年5月就职于中国银行总行，任工程师；2011年7月，加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204336719.jpg">
                                                        <div class="name">刘萌萌</div>
                                                        
                                                        <div class="info">
                                                            华商新动力混合型基金基金经理，华商价值精选混合型基金基金经理，工学博士，6年证券从业经历。2011年7月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204323592.jpg">
                                                        <div class="name">吴昊</div>
                                                        
                                                        <div class="info">
                                                            华商主题精选混合型基金基金经理，经济学博士，7年证券从业经历。2010年1月至2011年11月，就职于国都证券有限责任公司，任研究员；2011年11月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204016331.jpg">
                                                        <div class="name">彭欣杨</div>
                                                        
                                                        <div class="info">
                                                            华商产业升级混合型基金基金经理，华商领先企业混合型基金基金经理，生物学硕士，7年证券从业经历。2010年9月至2012年3月就职于广发证券股份有限公司，任研究员；2012年3月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926203947204.jpg">
                                                        <div class="name">梁皓</div>
                                                        
                                                        <div class="info">
                                                            华商未来主题混合型基金基金经理，理学博士，7年证券从业经历。2010年12月至2012年4月，就职于中国中投证券有限责任公司，任研究员；2012年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204209258.jpg">
                                                        <div class="name">李丹</div>
                                                        
                                                        <div class="info">
                                                            华商元亨灵活配置混合型基金基金经理，华商现金增利货币型基金基金经理，华商丰利增强债券型基金基金经理，6年证券从业经历，管理学硕士。2007年7月至2008年8月就职于领锐资产管理股份有限公司，任研究员。2008年9月至2012年5月就职于昆仑健康保险股份有限公司，任固定收益研究员。2012年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204024701.jpg">
                                                        <div class="name">陈恒</div>
                                                        
                                                        <div class="info">
                                                            华商价值精选混合型基金基金经理，9年证券从业经历。2005年7月至2006年9月，就职于汇源集团，任研发员；2008年7月至2010年4月，就职于天相投资顾问有限公司，任行业研究组组长；2010年4月至2014年5月，就职于东兴证券股份有限公司，任研究总监；2014年5月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204238519.jpg">
                                                        <div class="name">赵媛媛</div>
                                                        
                                                        <div class="info">
                                                            华商鑫安灵活配置混合型基金基金经理，华商万众创新混合型基金基金经理，经济学硕士，9年证券从业经历。2006年12月至2008年2月就职于中宏保险，任投资经理；2008年3月至2009年4月就职于联合证券，任宏观策略研究员；2009年4月至2010年4月就职于国泰君安证券股份有限公司，任宏观策略研究员；2010年4月至2011年3月就职于国泰基金管理有限公司，任宏观策略研究员；2011年3月至2014年8月就职于财通基金管理有限公司，历任宏观、机械研究员，基金经理，2014年9月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="swiItem">
                                                        <img width='138px' height='210px;' src="/upload/20170926/20170926204042619.jpg">
                                                        <div class="name">李海宝</div>
                                                        
                                                        <div class="info">
                                                            华商信用增强债券型基金基金经理，7年证券从业资历。2005年7月至2007年7月，就职于上海华腾软件系统有限公司，任金融事业部软件工程师；2010年7月至2016年8月，就职于招商证券股份有限公司，任固定收益部研究主管；2016年8月加入华商基金管理有限公司。
                                                        </div>
                                                    </div>
                                                </div>


                                </div>
                                <div class="swiper-pre swiper-button-prev swiper-button-black"></div>
                                <div class="swiper-next swiper-button-next swiper-button-black"></div>
                            </div>


                            <div class="man_list clearfix">
                                                                            <div class="man">
                                                <img src="/upload/20170926/20170926203740518.jpg">
                                                <div class="man-text">梁永强</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203751419.jpg">
                                                <div class="man-text">梁伟泓</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203848422.jpg">
                                                <div class="man-text">周海栋</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203802572.jpg">
                                                <div class="man-text">李双全</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204106250.jpg">
                                                <div class="man-text">蔡建军</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203903921.jpg">
                                                <div class="man-text">童立</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204722802.jpg">
                                                <div class="man-text">翟金林</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20171009/20171009101404173.png">
                                                <div class="man-text">邓默</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204136933.jpg">
                                                <div class="man-text">王东旋</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203918285.jpg">
                                                <div class="man-text">张永志</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204124275.jpg">
                                                <div class="man-text">何奇峰</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203937636.jpg">
                                                <div class="man-text">高兵</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204200544.jpg">
                                                <div class="man-text">孙祺</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204256465.jpg">
                                                <div class="man-text">马国江</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204225149.jpg">
                                                <div class="man-text">鲁宁</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204336719.jpg">
                                                <div class="man-text">刘萌萌</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204323592.jpg">
                                                <div class="man-text">吴昊</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204016331.jpg">
                                                <div class="man-text">彭欣杨</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926203947204.jpg">
                                                <div class="man-text">梁皓</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204209258.jpg">
                                                <div class="man-text">李丹</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204024701.jpg">
                                                <div class="man-text">陈恒</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204238519.jpg">
                                                <div class="man-text">赵媛媛</div>
                                            </div>
                                            <div class="man">
                                                <img src="/upload/20170926/20170926204042619.jpg">
                                                <div class="man-text">李海宝</div>
                                            </div>

                            </div>
                        </div>
                        <!-- /.core -->
                    </div>
                    <!-- /.center -->
                </div>
                <!-- /.main -->
            </div>
        </div>

        <!--底部start-->
        <div id="footerContent"></div>
        <!--底部end-->
    </div>
    </div>

    <script src="/osoa/js/swiper.min.js"></script>
    <script src="/osoa/js/jquery.min.js"></script>
    <script src="/osoa/js/main.js"></script>

    <script type="text/javascript">
        //项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
        var _defaultPage = {
            "pageCode": "about/team",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
        var _headerPage = {
            "pageCode": "include/header",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
        var _footerPage = {
            "pageCode": "include/footer",
            "jsonParam": {},
            "isLoad": false
        };
    </script>

    <!--基础框架包 -->
    <script type="text/javascript" src="/osoa/version.js"></script>
    <script type="text/javascript" src="/thinkiveJs.min.js"></script>

    <script>
         var index = 0;
        var swiper = new Swiper('.swiper-container-dashijian', {
            loop: true,
            autoplay: 4000,
            simulateTouch: false,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            onSlideChangeEnd: function(swiper) {
                index = swiper.activeIndex - 1;
                $('.man').removeClass('cur');
                $('.man').eq(index).addClass('cur');
            }
        });

        $('body').on('click', '.man_list .man', function() {
            index = $(this).index();
            swiper.slideTo(index + 1);
            // setCur(index);
        });
        $('body').on('click', ' .core .swiper-pre', function() {
            index = index - 1;
            setCur(index)
        });
        $('body').on('click', ' .core .swiper-next', function() {
            index = index + 1;
            setCur(index)
        });

        function setCur(index) {
            $(".man_list .man").removeClass('cur');
            $(".man_list .man").eq(index).addClass('cur');
        }
    </script>


</body>

</html>