<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>华商基金</title>
    <!-- 天利宝 -->
    <link rel="stylesheet" href="/osoa/css/style.css">
    <link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/kn.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>

<body>
    <div class="wrapper">
        <!-- right -->
        <div id="right"></div>

        <!-- /.right -->

        <!--头部start-->
        <div id="headerContent"></div>
        <!--头部end-->

        <div id="bodyContent">
            <div id="customer_server_fund" style="display: block;">
                <div class="main grey_main">
                    <div class="text_banner text_banner_2">
                        <div class="text_banner_core"></div>
                    </div>
                    <!-- /.text_banner -->

                    <div class="center">
                        <div class="left">
                            <div class="left_list">
                                <a href="/osoa/views/customer/server/guide.html">开户指南</a>
                                <a href="/osoa/views/customer/server/tarde.html">基金交易</a>
                                <a class="current" href="/osoa/views/customer/server/fund.html">天利宝</a>
                                <a href="/osoa/views/customer/server/rate.html">基金费率</a>
                                <a href="/osoa/views/customer/server/subscribe.html">基金定投</a>
                                <a href="/osoa/views/customer/server/question.html">热点问题</a>
                                <a href="/osoa/views/customer/server/know.html">投资者须知</a>
                                <a href="/osoa/views/customer/server/download.html">表单下载</a>
                                <a href="/osoa/views/customer/server/search.html">快捷搜索</a>
                            </div>
                            <!-- /.left_list -->

                            <div class="left_box left_box_qr">
                                	  												
																<img width='157px' height='158px' src="/upload/20170913/20170913195840838.png" alt="" />
 华商基金APP，基金交易30秒
                            </div>
                            <!-- /.left_box -->

                            <div class="left_box left_cs">
                                <strong>在线客服</strong>

                                <ul>
                                    <li>
                                        <a href="tel:400-700-8880">400-700-8880</a>
                                    </li>
                                    <li>
                                        服务时间：<br /> 工作日8:30-11:30,13:00-17:00
                                    </li>
                                </ul>
                            </div>
                            <!-- /.left_box -->
                        </div>
                        <!-- /.left -->

                        <div class="core">
                            <div class="article">
                                <h1 class="article_h1">天利宝</h1>
                                <div class="article_content">
                                    <h1>一. 什么是华商天利宝？</h1>
                                    <p>
                                        华商天利宝对接的是华商现金增利货币基金A，方便您将留存工资，闲散资金汇集起来买入利宝积少成多，收益可以精确计算到每天。天利宝还提供“快速取现”服务，赎回资金可实时到账。喜欢投资偏股基金的同学们，还可以使用天利宝申购华商旗下其他基金，费率低至1折，当赎回基金时，可以选择赎回至天利宝再进行提现，提升资金到账效率。
                                    </p>
                                    <h1>二. 天利宝投资什么？</h1>
                                    <p>
                                        天利宝对接的是华商现金增利货币A，货币基金投资于法律法规及监管机构允许投资的金融工具：现金、通知存款、1年以内(含1年)的银行存款和大额存单、剩余期限在397天以内（含397天）的债券和中期票据、期限在1年以内（含1年）的中央银行票据、期限在1年以内（含1年）的债券回购、短期融资券、剩余期限在397 天以内（含397 天）的资产支持类证券及证监会、人行认可的具有良好流动性的货币市场工具。天利宝成立至今未出现过负收益的情况，其长期平均预期风险和预期收益率低于股票型基金、混合型基金和债券型基金。
                                    </p>
                                    <h1>三. 天利宝是每天计算收益吗？</h1>
                                    <p>
                                        天利宝是每天计算收益的，每天的收益将以未分配收益的形式体现在您的账户中，您可以登陆华商网上交易账户查看，此部分收益将于次月的第一个交易日结转成新的份额。例如：您T日充值，则T+1日开始享受收益，T+2日可以看到确认的天利宝可用份额。（投资货币市场基金不等于将资金作为存款存放在银行或存款类金融机构，基金管理人不保证基金一定盈利，也不保证最低收益。）
                                    </p>
                                    <table class="article_table">
                                        <tbody>
                                            <tr>
                                                <th width="33%">存入时间</th>
                                                <th width="33%">享受收益</th>
                                                <th width="33%">可查询份额确认时间</th>
                                            </tr>
                                            <tr>
                                                <td>上周五15:00 — 周一15:00</td>
                                                <td>周二</td>
                                                <td>周三</td>
                                            </tr>
                                            <tr>
                                                <td>周一15:00 — 周二15:00</td>
                                                <td>周三</td>
                                                <td>周四</td>
                                            </tr>
                                            <tr>
                                                <td>周二15:00 — 周三15:00</td>
                                                <td>周四</td>
                                                <td>周五</td>
                                            </tr>
                                            <tr>
                                                <td>周三15:00 — 周四15:00</td>
                                                <td>周五</td>
                                                <td>周六</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h1>四. 如何办理天利宝充值？</h1>
                                    <p>
                                        投资人可以通过华商基金官方网站（https://trade.hsfund.com）、微信公众账号（hsfund）、APP渠道充值华商天利宝，具体操作可参考：
                                    </p>
                                    <h2>1. 网上交易充值</h2>
                                    <p>
                                        <span>第一步：输入开户证件号码、交易密码及附加码，登录网上交易系统；</span>
                                        <span>第二步：点击“天利宝—充值”菜单，选择办理充值的银行卡，输入充值金额，实时扣款成功即可买入天利宝；</span>
                                    </p>
                                    <h2>2. 微信充值</h2>
                                    <p>
                                        <span>第一步：关注华商基金微信，绑定您的基金账户；</span>
                                        <span>第二步：点击“天利宝—充值”菜单，输入申请金额，选择扣款银行账户，实时扣款成功即可买入天利宝；</span>
                                    </p>
                                    <h2>3. APP充值</h2>
                                    <p>
                                        <span>第一步：下载安装华商交易APP，登录绑定您的基金账户；</span>
                                        <span>第二步：点击“首页—天利宝—立即存入”，选择银行卡类型，填写充值金额，实时扣款成功即可买入天利宝。</span>
                                        <span>( 温馨提示：T日申请充值天利宝，T+1个工作日确认购买份额并开始享受收益分配权益，T+2个工作日份额可用。)</span>
                                    </p>
                                    <h1>五. 什么是万份收益？</h1>
                                    <p>
                                        万份收益是指持有天利宝1万份每天所产生的收益。例如17年2月21日华商现金增利货币基金A的万份净收益为3.8964元，如果持有1万份天利宝，则在当天获得的收益就是3.8964*1=3.8964元。
                                    </p>
                                    <h1>六. 什么是7日年化收益率？</h1>
                                    <p>7日年化收益率是根据天利宝近7天每万份净收益计算出平均收益，并进行年化以后得出的数据。可以作为一个短期指标，不能完全代表实际年收益。每天的实际收益应当参考每日万份收益。</p>
                                    <h1>七. 天利宝业务规则</h1>
                                    <p>1. 充值：天利宝“充值”操作等同于申购华商现金增利货币基金，充值起点为人民币1元，当日申购的货币基金自下一个工作日起享有基金分配权益。</p>
                                    <p>2. 自动充值：天利宝“自动充值计划”操作等同于定期定额申购华商现金增利货币基金，“自动充值计划”设定的买入金额最低为100元。T日15:00前开通的“自动充值计划”，如希望当月即扣款，则设定的首次扣款日期不能小于或等于T日，且定投扣款后不能撤销；若“自动充值计划”约定扣款日为非开放日，则将顺延至下一基金开放日进行扣款。若连续3次扣款失败，该自动充值计划将自动终止。</p>
                                    <p>3. 提现：天利宝“提现” 操作等同于赎回华商现金增利货币基金，提现起点为1份，当日赎回的货币基金份额自下一个工作日确认起不再享有基金收益。不同银行卡存入的天利宝账户余额分开登记显示，需分别取现。交易日15:00前提现成功，预计最快第二个交易日到账，具体以银行实际到账时间为准。</p>
                                    <p>4. 快速提现：“快速提现”操作等同于快速赎回华商现金增利货币基金，一般情况下申请提交后，赎回款将立即划往投资人对应的银行账户（每个工作日晚间由于系统清算和银行划款限制等原因，存在无法提现的情况，请投资者合理安排提现时间）。单个投资者每日快速提现金额上限为20万，单笔上限为5万，一旦申请快速提现将不可撤销。办理“快速提现”业务时，单个支付渠道账户保留的基金份额余额不低于100份。（温馨提示：我公司对所有投资者的快速提现总额设置限额，如当日快速提现总额超过本公司设定的限额，投资者提交的快速提现将可能失败，请投资者注意风险。）</p>
                                    <h1>八. 天利宝如何赎回转认购？</h1>
                                    <p>投资者通过华商直销系统认购旗下处于募集期的基金时使用天利宝进行支付，提交认购申请后相当于提交了天利宝的赎回业务申请，并约定将该笔赎回资金直接用于认购该基金。投资者使用天利宝支付进行基金份额认购，视为同意华商基金关于“使用天利宝支付进行基金份额认购”增值服务业务的业务规则，规则详见华商e站—交易指南—交易规则—天利宝赎回转认购业务规则https://trade.hsfund.com。</p>
                                    <p class="notice">风险提示：<br> 以上观点不代表任何投资建议，基金投资需谨慎，基金定期定额投资并不等于零存整取等储蓄方式，定期定额投资并不能规避基金投资所固有的风险，不能保证投资人获得收益，也不是替代储蓄的等效理财方式
                                    </p>
                                    <p class="notice">温馨提示: <br> 投资人投资货币市场基金并不等于将资金作为存款存放在银行或存款类金融机构，基金管理人不保证基金一定盈利，也不保证最低收益。快速取现是一种增值服务，华商基金有权设置每日快速取现总额度上限，如达上限快速取现服务将临时暂停，投资人在使用快速取现服务前充分了解该风险，提前做好资金安排。基金优惠费率以具体公告为准，基金投资需谨慎。
                                    </p>
                                </div>

                            </div>
                            <!-- /.article -->
                        </div>
                        <!-- /.core -->
                    </div>
                    <!-- /.center -->
                </div>
                <!-- /.main -->
            </div>
        </div>

        <!--底部start-->
        <div id="footerContent"></div>
        <!--底部end-->
    </div>
    <script src="/osoa/js/swiper.min.js"></script>
    <script src="/osoa/js/jquery.min.js"></script>
    <script src="/osoa/js/main.js"></script>
    <script type="text/javascript">
        //项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
        var _defaultPage = {
            "pageCode": "customer/server/fund",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
        var _headerPage = {
            "pageCode": "include/header",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
        var _footerPage = {
            "pageCode": "include/footer",
            "jsonParam": {},
            "isLoad": false
        };
    </script>

    <!--基础框架包 -->
    <script type="text/javascript" src="/osoa/version.js"></script>
    <script type="text/javascript" src="/thinkiveJs.min.js"></script>

    <script type="text/javascript">
        var swiper = new Swiper('#cs_swiper_core', {
            loop: true,
            autoplay: 4000,
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
    </script>
</body>

</html>