<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>华商基金</title>
    <link rel="stylesheet" href="/osoa/css/style.css">
    <link rel="stylesheet" href="/osoa/css/kn.css">
</head>

<body>
    <div class="wrapper">
        <!-- right -->
        <div id="right"></div>

        <!-- /.right -->

        <!--头部start-->
        <div id="headerContent"></div>
        <!--头部end-->

        <div id="bodyContent">
            <div id="about_senior_detail" style="display: block;">
                <div class="main grey_main">
                    <div class="text_banner text_banner_1">
                        <div class="text_banner_core"></div>
                    </div>
                    <!-- /.text_banner -->

                    <div class="center">
                        <div class="left" id="include_menu">
                            <div class="left_list">
                                <a href="/osoa/views/about/index.html">公司简介</a>
                                <a class="current" href="/osoa/views/about/senior.html">高管致辞</a>
                                <a href="/osoa/views/about/ability.html">投研能力</a>
                                <a href="/osoa/views/about/team.html">投研团队</a>
                                <a href="/osoa/views/about/big.html">大事记</a>
                                <a href="/osoa/views/about/duty.html">社会责任</a>
                                <a href="http://zhaopin.hsfund.com/" target="_blank">人才招聘</a>
                                <a href="/osoa/views/about/connect.html">联系我们</a>
                            </div>
                            <!-- /.left_list -->

                            <div class="left_box left_box_qr">
                                												
																<img  width='157px' height='158px' src="/upload/20170913/20170913195840838.png" alt="" />
 华商基金APP，基金交易30秒
                            </div>
                            <!-- /.left_box -->

                            <div class="left_box left_cs">
                                <strong>在线客服</strong>

                                <ul>
                                    <li>
                                        <a href="tel:400-700-8880">400-700-8880</a>
                                    </li>
                                    <li>
                                        服务时间：<br /> 工作日8:30-11:30,13:00-17:00
                                    </li>
                                </ul>
                            </div>
                            <!-- /.left_box -->
                        </div>
                        <!-- /.left -->


                        <div class="core core_about">
                            <div class="article">
                                <h1 class="article_h1 crumbs">
                                    <div class="crumbs_core">
                                        <a href="/osoa/views/index.html">首页</a>
                                        <small>></small>
                                        <a href="/osoa/views/about/index.html">关于华商</a>
                                        <small>></small>
                                        <a href="/osoa/views/about/senior.html">高管致辞</a>
                                        <small>></small>
                                        <span>正文</span>
                                    </div>
                                </h1>

                                <h1 class="real_h1">董事长致辞</h1>
                                <div class="sub_title">发布日期： 2007年05月30日</div>

                                <div id="core_content">
                                    <!-- <img class="left_img" src="/osoa/images/boss.jpg" alt="">
                                    <p>中国基金业经过短短十几年的发展，已累积为数亿人提供了理财服务，基金总份额超过数万亿份，成为中国资本市场不可或缺的中坚力量。在新的形势下，为社会提供现代财富管理服务的重任又历史性地落在了基金行业的肩上，这既是我们的荣幸和责任，也是行业未来发展的巨大机遇和推动力。</p>
                                    <p>中国基金业经过短短十几年的发展，已累积为数亿人提供了理财服务，基金总份额超过数万亿份，成为中国资本市场不可或缺的中坚力量。在新的形势下，为社会提供现代财富管理服务的重任又历史性地落在了基金行业的肩上，这既是我们的荣幸和责任，也是行业未来发展的巨大机遇和推动力。</p>
                                    <p>我们深知，华商基金的每一次成长与进步都与投资者的信任和支持密不可分，对于所有华商持有人我们都心怀感恩。未来，华商基金仍将坚持以敬业的业绩为根本目标，认真维护基金行业的公信力，积极面对行业转型带来的挑战和机遇，为投资者提供更加专业的财富管理服务，为我国基金行业发展做出新的更大贡献。</p>

                                    <p class="signature">
                                        <img src="/osoa/images/signature.jpg" alt=""><br /> 华商基金董事长 李晓安
                                    </p> -->
                                </div>
                            </div>
                            <!-- /.article -->
                        </div>
                        <!-- /.core -->
                    </div>
                    <!-- /.center -->
                </div>
                <!-- /.main -->
            </div>
        </div>

        <!--底部start-->
        <div id="footerContent"></div>
        <!--底部end-->
    </div>
    </div>

    <script src="/osoa/js/jquery.min.js"></script>
    <script src="/osoa/js/swiper.min.js"></script>
    <script src="/osoa/js/main.js"></script>

    <script type="text/javascript">
        //项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
        var _defaultPage = {
            "pageCode": "about/senior/detail",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
        var _headerPage = {
            "pageCode": "include/header",
            "jsonParam": {},
            "isLoad": false
        };
        //项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
        var _footerPage = {
            "pageCode": "include/footer",
            "jsonParam": {},
            "isLoad": false
        };
    </script>

    <script type="text/javascript" src="/osoa/version.js"></script>
    <!--基础框架包 -->
    <script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>

</html>