<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="Keywords" content="华商旗下两基金分红" />
<meta name="Description" content="华商基金近日发布公告旗下两只基金华商领先企业华商双债丰利将于同日实现分红具体分红方案为华商领先企业每份基金份额分红元华商双债丰利每份基金份额分红元上述两只基金的收益分配基准日分别为月日月日权益登记日除息日为月日现金红利发放日为月日迄今华商基" />
<title>华商旗下两基金分红媒体报道-华商基金管理有限公司,文章</title>
	<link rel="stylesheet" href="/osoa/css/style.css" />
    <link rel="stylesheet" href="/osoa/css/kn.css" />
	<link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>
<body>      
	<div>
		<div id="right"></div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
	 
	    <div id="bodyContent">
	    	<div id="news_newsList" style="display: block;"> 
	     		<div class="main grey_main">
		            <div class="text_banner text_banner_0"><div class="text_banner_core"></div></div><!-- /.text_banner -->
		
		            <div class="center">
		                <div class="left">
		                    <div class="left_list">
								
							    										<a class="current" href="javascript:void(0)" catalog_id='10174'>华商动态</a>										
										<a href="javascript:void(0)"  catalog_id='10175'>媒体报道</a>
										<a href="javascript:void(0)"  catalog_id='10176'>华商周刊</a>
										<a href="javascript:void(0)"  catalog_id='10177'>财经资讯</a>

								<a class="" href="javascript:void(0)" catalog_id="announce">信息披露</a>
		                    </div><!-- /.left_list -->
		
		                    <div class="left_box left_box_qr">
		                        												
																<img width='158px' height='158px' src="/osoa/images/right_qr_0.jpg" alt="" />

		                        华商基金APP，基金交易30秒
		                    </div><!-- /.left_box -->
		
		                    <div class="left_box left_cs">
		                        <strong>在线客服</strong>
		
		                        <ul>
		                            <li>
		                                <a href="tel:400-700-8800">400-700-8800</a>
		                            </li>
		                            <li>
		                                服务时间：<br />
		                                工作日8:30 － 17:00
		                            </li>
		                        </ul>
		                    </div><!-- /.left_box -->
		                </div><!-- /.left -->
						
							
						<div class="core">
							<h1 class="article_path">
								<a class="path_item" href="/osoa/views/index.html">首页</a> <span class="right_arrow">></span>
								<a class="path_item" href="/osoa/views/news/newsList.html">资讯中心</a> <span class="right_arrow">></span>
								<span id="catalog_title"><a  class="path_item" href="/osoa/views/index.html">华商动态</a></span> <span class="right_arrow">></span>
								<span class="path_item path_cur">正文</span>
							</h1>
							<div class="dongtai">
								<p class="p_title">华商旗下两基金分红</p>
								<p class="p_sub_title">
									发布时间：2014-10-24 10:59:34.0&nbsp;&nbsp;&nbsp;&nbsp;
									来源：中国证券报
								</p>
								<p class="article_content">
								<p>
	华商基金近日发布公告，旗下两只基金&mdash;&mdash;华商领先企业、华商双债丰利将于同日实现分红，具体分红方案为：华商领先企业每10份基金份额分红0.9元；华商双债丰利A/C每10份基金份额分红0.5元。上述两只基金的收益分配基准日分别为10月16日、9月30日；权益登记日、除息日为10月24日；现金红利发放日为10月28日。迄今，华商基金本月已有5只基金实现了分红。</p>
<p>
	今年以来，股基、债基双双呈现出不俗的赚钱效应。在基金净值不断攀升的同时，10月过后，多只基金开始主动&ldquo;落袋为安&rdquo;。基金分红力度显著提升，仅主动偏股型基金，分红额就已超过去年同期的15%，而上周已有多达85只基金进行分红派息。市场转暖为基金投资创造良好的外部环境，根据银河证券统计，截至10月17日，主动股票型基金与普通债券型基金（二级）今年以来平均净值增长率分别达到11.05%和11.18%。股市结构性机会频现、债市慢牛行情持续，为基金带来了强大的赚钱效应。</p>
<p>
	股债两市双双&ldquo;飘红&rdquo;是不可多得的良机。业内人士表示，在国内经济短期企稳、长期通胀下行趋势较明朗、中期宽松货币政策将持续的背景下，债市仍有上涨空间。另一方面，今年以来货币基金和银行理财收益率开始下降，利率下降有助于降低企业融资成本，如果政府能及时大力度推进财税及国企改革，提高企业经营效率，将有助于股票牛市的出现。</p>

								</p>
							</div>
						</div>

						<!-- /.core -->
					</div>
					<!-- /.center -->
				</div>
				<!-- /.main -->
			</div>
		</div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
    <script src="/osoa/js/jquery.min.js"></script>
	<script src="/osoa/js/swiper.min.js"></script>
	<script src="/osoa/js/main.js"></script>
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "news/newsList", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>