<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="Keywords" content="关注稳增长与调结构相结合领域" />
<meta name="Description" content="月日华商基金宏观策略研究小组组长赵侠在建设银行基金服务万里行中证金牛会长沙站活动现场表示年至年经济和股市表现的关系逐渐脱钩是因为经济增速发生了结构性变化第三产业对的增速贡献已经超过第二产业在产业转型尚未完成的情况下投资仍然是拉动经济的主要动" />
<title>关注稳增长与调结构相结合领域媒体报道-华商基金管理有限公司,文章</title>
	<link rel="stylesheet" href="/osoa/css/style.css" />
    <link rel="stylesheet" href="/osoa/css/kn.css" />
	<link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>
<body>      
	<div>
		<div id="right"></div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
	 
	    <div id="bodyContent">
	    	<div id="news_newsList" style="display: block;"> 
	     		<div class="main grey_main">
		            <div class="text_banner text_banner_0"><div class="text_banner_core"></div></div><!-- /.text_banner -->
		
		            <div class="center">
		                <div class="left">
		                    <div class="left_list">
								
							    										<a class="current" href="javascript:void(0)" catalog_id='10174'>华商动态</a>										
										<a href="javascript:void(0)"  catalog_id='10175'>媒体报道</a>
										<a href="javascript:void(0)"  catalog_id='10176'>华商周刊</a>
										<a href="javascript:void(0)"  catalog_id='10177'>财经资讯</a>

								<a class="" href="javascript:void(0)" catalog_id="announce">信息披露</a>
		                    </div><!-- /.left_list -->
		
		                    <div class="left_box left_box_qr">
		                        												
																<img width='158px' height='158px' src="/osoa/images/right_qr_0.jpg" alt="" />

		                        华商基金APP，基金交易30秒
		                    </div><!-- /.left_box -->
		
		                    <div class="left_box left_cs">
		                        <strong>在线客服</strong>
		
		                        <ul>
		                            <li>
		                                <a href="tel:400-700-8800">400-700-8800</a>
		                            </li>
		                            <li>
		                                服务时间：<br />
		                                工作日8:30 － 17:00
		                            </li>
		                        </ul>
		                    </div><!-- /.left_box -->
		                </div><!-- /.left -->
						
							
						<div class="core">
							<h1 class="article_path">
								<a class="path_item" href="/osoa/views/index.html">首页</a> <span class="right_arrow">></span>
								<a class="path_item" href="/osoa/views/news/newsList.html">资讯中心</a> <span class="right_arrow">></span>
								<span id="catalog_title"><a  class="path_item" href="/osoa/views/index.html">华商动态</a></span> <span class="right_arrow">></span>
								<span class="path_item path_cur">正文</span>
							</h1>
							<div class="dongtai">
								<p class="p_title">关注稳增长与调结构相结合领域</p>
								<p class="p_sub_title">
									发布时间：2014-10-27 08:25:13.0&nbsp;&nbsp;&nbsp;&nbsp;
									来源：
								</p>
								<p class="article_content">
								<p>
	10月25日，华商基金宏观策略研究小组组长赵侠在&ldquo;建设银行基金服务万里行&middot;中证金牛会（长沙站）&rdquo;活动现场表示，2013年至2014年，经济和股市表现的关系逐渐脱钩，是因为经济增速发生了结构性变化，第三产业对GDP的增速贡献已经超过第二产业。在产业转型尚未完成的情况下，投资仍然是拉动经济的主要动力，建议投资者关注投资中稳增长与调结构相结合的领域，例如军工、新能源、高铁、互联网、制造业智能化等。</p>
<p>
	赵侠表示，2013年之前，股市涨跌和经济同步。此轮经济下行始于2010年，随着经济增速连续两年逐季下行，上证指数中枢也连续两年下行。但是，从2013年开始，经济增速维持在7.5%上下，但是股市却走出了结构性牛市行情，二者表现相对脱钩。</p>
<p>
	赵侠认为，2012年之前，利润增速主要依靠工业企业，而上证指数主要包括工业企业以及为工业企业服务的金融行业的成分股，整体经济扩张的时候，工业企业利润增速上升，上证指数中枢同时上移。但是在过去二十年，每隔十年第二产业贡献率下降十个点，第三产业对GDP的贡献率上升十个点，从2013年开始，第三产业的贡献率首次超过第二产业，这是结构性行情的一个经济支点，说明利润结构在产生变化，因此股市表现与经济脱钩。</p>
<p>
	不过，赵侠表示，未来几年经济增速会维持在7%至7.5%的中高速增长区间，原因有三：一是只有维持在这个水平，才会在2020年实现经济翻番，完成十八大经济增长目标的需要；二是为了保就业，有专家表示，保就业经济增速的底线是6.9%到7.2%，未来随着第三产业的经济占比不断提高，需要的人力更多，而且随着老龄化加剧，这一底线可能会更低；三是为了保税收，根据2000年以来的历史数据计算，GDP每变动1%，税收增速变动3.31%。当GDP增速下降到7%以下，税收收入基本上呈现负增长，所以这两年强调中高速增长。</p>
<p>
	总体来说，明年经济增速还会维持在7.5%左右，但是可能稍有向下，明年经济仍靠投资，而增加投资是给改革置换出时间。三大经济动力中，出口增速已经过了高峰期，而消费则因为灰色消费的大幅下滑和居民收入增速提高放缓而受限。各类投资中，基建投资受制于GDP增速下滑带来的财政收入增速下滑，房地产投资增速已经下滑到个位数，因此投资还需要依靠制造业，以及通过鼓励制造业技术升级改造和开放垄断领域引入民间投资的方式。</p>
<p>
	赵侠建议，可以从稳增长与调结构相结合的角度寻找投资机会。科技是推动未来经济增长的主要源泉，因此投资应从创新角度出发。创新的两大来源分别是军工和高校，建议关注科研院所改制和军工领域。而且，军事投入不仅是为了弥补历史欠账，也是大国战略不可或缺的一个板块。此外，从投资拉动的角度看，她表示，在制造业投资中，看好互联网、军工、能源；在基建投资里，高铁、互联网和智能化的投资空间较大。</p>
<p>
	10月中旬以来，市场出现回调。赵侠建议，市场较长时间内仍处于结构性牛市之中，短期存在调整压力，建议增加防御品种的配置比例。可从以下四个方面布局：首先是传统防御品种&mdash;&mdash;医药；其次是政策性主题&mdash;&mdash;军工、环保；再次是对三季报深度挖掘，选择三季报中业绩提速、估值不高的个股，建议关注券商板块，其板块中报有33%的业绩增速，且三季度市场成交额是二季度的两倍，融资融券余额环比增长32%，因此券商三季度业绩应当会继续加速；最后是，APEC会议概念相关的亚太自贸区和环保等个股。<br />
	&nbsp;</p>

								</p>
							</div>
						</div>

						<!-- /.core -->
					</div>
					<!-- /.center -->
				</div>
				<!-- /.main -->
			</div>
		</div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
    <script src="/osoa/js/jquery.min.js"></script>
	<script src="/osoa/js/swiper.min.js"></script>
	<script src="/osoa/js/main.js"></script>
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "news/newsList", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>