<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="Keywords" content="华商基金梁永强：转型期股市提供经济发展动力" />
<meta name="Description" content="年上证指数经历了多点的上涨之后引发了牛市来临的欢呼但是进入月中旬长达两周的调整引发了牛市假象的担忧月日华商基金副总经理明星基金经理梁永强在建设银行基金服务万里行中证金牛会长沙站活动现场表示担忧源于对上涨动力的逻辑理解不透彻实际上与以往经济决" />
<title>华商基金梁永强：转型期股市提供经济发展动力媒体报道-华商基金管理有限公司,文章</title>
	<link rel="stylesheet" href="/osoa/css/style.css" />
    <link rel="stylesheet" href="/osoa/css/kn.css" />
	<link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>
<body>      
	<div>
		<div id="right"></div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
	 
	    <div id="bodyContent">
	    	<div id="news_newsList" style="display: block;"> 
	     		<div class="main grey_main">
		            <div class="text_banner text_banner_0"><div class="text_banner_core"></div></div><!-- /.text_banner -->
		
		            <div class="center">
		                <div class="left">
		                    <div class="left_list">
								
							    										<a class="current" href="javascript:void(0)" catalog_id='10174'>华商动态</a>										
										<a href="javascript:void(0)"  catalog_id='10175'>媒体报道</a>
										<a href="javascript:void(0)"  catalog_id='10176'>华商周刊</a>
										<a href="javascript:void(0)"  catalog_id='10177'>财经资讯</a>

								<a class="" href="javascript:void(0)" catalog_id="announce">信息披露</a>
		                    </div><!-- /.left_list -->
		
		                    <div class="left_box left_box_qr">
		                        												
																<img width='158px' height='158px' src="/osoa/images/right_qr_0.jpg" alt="" />

		                        华商基金APP，基金交易30秒
		                    </div><!-- /.left_box -->
		
		                    <div class="left_box left_cs">
		                        <strong>在线客服</strong>
		
		                        <ul>
		                            <li>
		                                <a href="tel:400-700-8800">400-700-8800</a>
		                            </li>
		                            <li>
		                                服务时间：<br />
		                                工作日8:30 － 17:00
		                            </li>
		                        </ul>
		                    </div><!-- /.left_box -->
		                </div><!-- /.left -->
						
							
						<div class="core">
							<h1 class="article_path">
								<a class="path_item" href="/osoa/views/index.html">首页</a> <span class="right_arrow">></span>
								<a class="path_item" href="/osoa/views/news/newsList.html">资讯中心</a> <span class="right_arrow">></span>
								<span id="catalog_title"><a  class="path_item" href="/osoa/views/index.html">华商动态</a></span> <span class="right_arrow">></span>
								<span class="path_item path_cur">正文</span>
							</h1>
							<div class="dongtai">
								<p class="p_title">华商基金梁永强：转型期股市提供经济发展动力</p>
								<p class="p_sub_title">
									发布时间：2014-10-27 08:40:42.0&nbsp;&nbsp;&nbsp;&nbsp;
									来源：中国证券报
								</p>
								<p class="article_content">
								<p>
	2014年上证指数经历了200多点的上涨之后，引发了牛市来临的欢呼。但是进入10月中旬，长达两周的调整引发了&ldquo;牛市假象&rdquo;的担忧。10月26日，华商基金副总经理、明星基金经理梁永强在&ldquo;建设银行基金服务万里行&middot;中证金牛会（长沙站）&rdquo;活动现场表示，担忧源于对上涨动力的逻辑理解不透彻。实际上，与以往经济决定股市不同，在目前转型阶段，股市才是经济的动力，&ldquo;盘活存量&rdquo;的三个方面&mdash;&mdash;经济去房地产化、巨量居民财产的再配置、资产证券化都需要股市，这三大原因决定了牛市有可能才刚刚开始。</p>
<p>
	&nbsp;</p>
<p>
	<strong>股市是因 经济是果</strong></p>
<p>
	近期，随着市场的调整，&ldquo;经济决定论&rdquo;的声音越来越响。梁永强认为，这一观点是不准确的，在不同发展阶段，经济和股市之间的因果会转换。前几年可能宏观经济数据良好、政府超发货币会带来牛市，那时经济是因，股市是果；但在目前的转型阶段，经济结构不合理，房地产过度发展，产业间资源匹配不公平，需要股市作为发动机，利用资产证券化等手段，来调节经济结构、提高经济效率，所以当下，股市是因，经济是果。这一逻辑，更能解释2013年初以来的A股表现：2013年以来，上证指数涨幅较小，但是成长股却创造出一轮结构性牛市，代表指数&mdash;&mdash;创业板指从2013年初至今的涨幅达到106%。</p>
<p>
	但是，今年下半年以来，一方面，宏观经济数据仍然不见好转，另一方面，政府开始采取定向宽松的货币政策。2014年的创业板指宽幅震荡，仍然停留在年初的1500点左右。是否意味着上述逻辑错误？对此，梁永强认为，牛市有可能刚刚开始，当前的现象很自然。</p>
<p>
	他认为，首先，政府并没有乱阵脚。对待转型的态度是坚定不移的，可用&ldquo;持续有序&rdquo;来概括，这意味着经济发展需要一个可控、平稳的环境。经济在从山顶向下的过程不能一泻千里，而需要分阶段进行，有节奏地支持经济，因此才出现定向增发的货币政策，这并不代表政府疲于应付，而是在有效释放风险，即货币政策中的&ldquo;用好增量&rdquo; 。</p>
<p>
	其次，相比用好增量，转型更核心的是盘活存量。经过三十年的发展，无论是老百姓还是国有企业，都积累了巨量存量资产，在过去的经济模式下存量没有效率，而大多配置在房地产上。本来，房地产发展和经济的关系应该是&ldquo;坐轿子&rdquo;和&ldquo;抬轿子&rdquo;，但如今抬轿子的越来越少，坐轿子的越来越多，房地产业开始进入下滑周期。因此，盘活存量的目的有二：一是去地产化，二是利用存量财富快速培育需要发展的产业。</p>
<p>
	梁永强认为，居民财富去地产化，体现在财富的转移方面，&ldquo;去地产化的过程是大势所趋，从2012年底就已经开始。&rdquo;梁永强说，&ldquo;居民财富的再配置是这轮牛市的动因，并且刚刚开始。目前有钱人的资金源源不断地向权益市场上流动。2013年做得好的私募规模增长5倍至10倍，这一势头仍在持续。从6月开始，权益类公募基金的净申购已经开始，说明普通老百姓的钱也在进场。&rdquo;</p>
<p>
	企业资产去地产化体现在产业转型方面。产业转型的手段&mdash;&mdash;资产证券化，需要在股市完成。梁永强认为，无论是存量财富转移配置，还是资产证券化，都是为经济结构转型做准备，如同布置房间前需要打扫房间，而经济还没有到发力的时候，所以去年以来的行情还只是开始，这是对整体市场的判断。至于调整，可能随时随地都会有，但都不会有大级别调整。</p>
<p>
	&nbsp;</p>
<p>
	<strong>军工替代地产成主导产业</strong></p>
<p>
	今年以来，梁永强的业绩骄人。金牛理财网的数据显示，截至10月24日，他所管理的华商主题精选年初至今的收益率为40.64%，在374只同类基金中排名第6。</p>
<p>
	梁永强透露，在他的投资组合中，军工是很重要的配置对象，未来也是核心主线。从国家实力和经济主导的需求来看，都需要科技创新，而科技创新需要军工的强化。以美国为参考，美国科技发展的前沿在军工，他们每隔几年会把一大批军用技术转为民用，带来整个社会科技水平的提升。因此，军工应当替代房地产，成为经济主导产业。&ldquo;在美国经济高速发展的阶段，军工产值在GDP中的比重达到40%，目前占比达15%，而中国这一比例仅为2%。军工将是未来几年的核心投资主线。&rdquo;梁永强说。</p>
<p>
	同时看好的还有半导体领域。梁永强认为，未来军工的发展，电子化非常重要，而电子化的核心是芯片，这是中国的短板。2014年6月，国务院正式印发《国家集成电路发展推进纲要》，明确设立集成电路产业发展基金，各省市已经着手规划本地区扶持政策，北京、天津、上海、山东、四川、安徽、甘肃等地都已明确集成电路产业发展政策，未来国家和省两级产业基金规模将达6000亿元，说明这一投资方向正在逐渐清晰。</p>
<p>
	此外，他还看好基因生物、细胞疗法、医疗信息化等与老百姓需求相关的医疗领域。</p>

								</p>
							</div>
						</div>

						<!-- /.core -->
					</div>
					<!-- /.center -->
				</div>
				<!-- /.main -->
			</div>
		</div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
    <script src="/osoa/js/jquery.min.js"></script>
	<script src="/osoa/js/swiper.min.js"></script>
	<script src="/osoa/js/main.js"></script>
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "news/newsList", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>