<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="Keywords" content="华商未来主题股基发行" />
<meta name="Description" content="虽然三季报还未出炉但公募基金三季度排名战已拉下帷幕数据显示今年以来排名前十的绩优股基在每季度末的排名中绝大多数均换脸截至月日三季度业绩前十的普通股票型基金中二季度前十股基仅一只入围为华商主题精选该基金二季度收益率为在只普通股票型基金中排名第" />
<title>华商未来主题股基发行媒体报道-华商基金管理有限公司,文章</title>
	<link rel="stylesheet" href="/osoa/css/style.css" />
    <link rel="stylesheet" href="/osoa/css/kn.css" />
	<link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>
<body>      
	<div>
		<div id="right"></div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
	 
	    <div id="bodyContent">
	    	<div id="news_newsList" style="display: block;"> 
	     		<div class="main grey_main">
		            <div class="text_banner text_banner_0"><div class="text_banner_core"></div></div><!-- /.text_banner -->
		
		            <div class="center">
		                <div class="left">
		                    <div class="left_list">
								
							    										<a class="current" href="javascript:void(0)" catalog_id='10174'>华商动态</a>										
										<a href="javascript:void(0)"  catalog_id='10175'>媒体报道</a>
										<a href="javascript:void(0)"  catalog_id='10176'>华商周刊</a>
										<a href="javascript:void(0)"  catalog_id='10177'>财经资讯</a>

								<a class="" href="javascript:void(0)" catalog_id="announce">信息披露</a>
		                    </div><!-- /.left_list -->
		
		                    <div class="left_box left_box_qr">
		                        												
																<img width='158px' height='158px' src="/osoa/images/right_qr_0.jpg" alt="" />

		                        华商基金APP，基金交易30秒
		                    </div><!-- /.left_box -->
		
		                    <div class="left_box left_cs">
		                        <strong>在线客服</strong>
		
		                        <ul>
		                            <li>
		                                <a href="tel:400-700-8800">400-700-8800</a>
		                            </li>
		                            <li>
		                                服务时间：<br />
		                                工作日8:30 － 17:00
		                            </li>
		                        </ul>
		                    </div><!-- /.left_box -->
		                </div><!-- /.left -->
						
							
						<div class="core">
							<h1 class="article_path">
								<a class="path_item" href="/osoa/views/index.html">首页</a> <span class="right_arrow">></span>
								<a class="path_item" href="/osoa/views/news/newsList.html">资讯中心</a> <span class="right_arrow">></span>
								<span id="catalog_title"><a  class="path_item" href="/osoa/views/index.html">华商动态</a></span> <span class="right_arrow">></span>
								<span class="path_item path_cur">正文</span>
							</h1>
							<div class="dongtai">
								<p class="p_title">华商未来主题股基发行</p>
								<p class="p_sub_title">
									发布时间：2014-10-09 08:47:09.0&nbsp;&nbsp;&nbsp;&nbsp;
									来源：
								</p>
								<p class="article_content">
								<p>
	虽然三季报还未出炉，但公募基金三季度排名战已拉下帷幕。WIND数据显示，今年以来排名前十的绩优股基在每季度末的排名中绝大多数均&ldquo;换脸&rdquo;，截至9月26日，三季度业绩前十的普通股票型基金中，二季度前十股基仅一只入围，为华商主题精选，该基金二季度收益率为9.48%，在393只普通股票型基金中排名第9，三季度（统计时间：2014年7月1日-2014年9月26日）收益率为25.96%，在406只普通股票型基金中排名第7。据悉，同样将由梁永强担任基金经理的华商未来主题股票型基金于10月9日发行，投资者可通过建设银行等代销渠道及华商基金直销中心、网上交易系统等进行认购。</p>
<p>
	据了解，华商未来主题基金延续基金经理梁永强过往的投资风格，该基金将以社会发展新需求为导向，致力于居民收入增长和消费升级所蕴含的新兴产业投资机会，有效识别、选取未来主题包括新能源、信息产业、国防军工等行业中的优势企业，并根据居民需求和政策导向的变化，动态调整重点投资行业，力求实现资本增值目标。</p>
<p>
	华商未来主题拟任基金经理梁永强表示，8月份数据显示，各项经济数据整体低于市场预期，特别是工业增加值显著下滑，进一步印证了宏观经济的疲弱。在此背景下，市场的繁荣并非来自于基本面回暖的支撑，而是源于投资者对制度红利的预期。沪港通、国企改革等相关新兴产业的主题投资尤其被市场看好。淡化增长、突出改革正取代以往的资金推动、政策刺激，成为A股上涨的&ldquo;强逻辑&rdquo;。改革步伐的加快、改革红利的累积，极大地提振了股市的信心。资本市场&ldquo;春江水暖鸭先知&rdquo;，正率先传递出经济转型、提质增效的乐观信号。</p>

								</p>
							</div>
						</div>

						<!-- /.core -->
					</div>
					<!-- /.center -->
				</div>
				<!-- /.main -->
			</div>
		</div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
    <script src="/osoa/js/jquery.min.js"></script>
	<script src="/osoa/js/swiper.min.js"></script>
	<script src="/osoa/js/main.js"></script>
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "news/newsList", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>