<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="Keywords" content="大数据时代如何买基金" />
<meta name="Description" content="基金的赚钱效应回来了中登公司数据显示月中旬以来连续周基金新开户数均保持在万户以上目前基金账户总数已经突破万户从年的表现来看虽然市场依然是结构化行情但公募基金的表现依然十分抢眼在成立于年前的只偏股基金中仅有只没有取得年内正收益年内总回报超过的" />
<title>大数据时代如何买基金媒体报道-华商基金管理有限公司,文章</title>
	<link rel="stylesheet" href="/osoa/css/style.css" />
    <link rel="stylesheet" href="/osoa/css/kn.css" />
	<link rel="stylesheet" href="/osoa/css/howe.css">
    <link rel="stylesheet" href="/osoa/css/zh.css">
</head>
<body>      
	<div>
		<div id="right"></div>
		<!--头部start-->  
		<div id="headerContent"></div>
		<!--头部end-->  
	 
	    <div id="bodyContent">
	    	<div id="news_newsList" style="display: block;"> 
	     		<div class="main grey_main">
		            <div class="text_banner text_banner_0"><div class="text_banner_core"></div></div><!-- /.text_banner -->
		
		            <div class="center">
		                <div class="left">
		                    <div class="left_list">
								
							    										<a class="current" href="javascript:void(0)" catalog_id='10174'>华商动态</a>										
										<a href="javascript:void(0)"  catalog_id='10175'>媒体报道</a>
										<a href="javascript:void(0)"  catalog_id='10176'>华商周刊</a>
										<a href="javascript:void(0)"  catalog_id='10177'>财经资讯</a>

								<a class="" href="javascript:void(0)" catalog_id="announce">信息披露</a>
		                    </div><!-- /.left_list -->
		
		                    <div class="left_box left_box_qr">
		                        												
																<img width='158px' height='158px' src="/osoa/images/right_qr_0.jpg" alt="" />

		                        华商基金APP，基金交易30秒
		                    </div><!-- /.left_box -->
		
		                    <div class="left_box left_cs">
		                        <strong>在线客服</strong>
		
		                        <ul>
		                            <li>
		                                <a href="tel:400-700-8800">400-700-8800</a>
		                            </li>
		                            <li>
		                                服务时间：<br />
		                                工作日8:30 － 17:00
		                            </li>
		                        </ul>
		                    </div><!-- /.left_box -->
		                </div><!-- /.left -->
						
							
						<div class="core">
							<h1 class="article_path">
								<a class="path_item" href="/osoa/views/index.html">首页</a> <span class="right_arrow">></span>
								<a class="path_item" href="/osoa/views/news/newsList.html">资讯中心</a> <span class="right_arrow">></span>
								<span id="catalog_title"><a  class="path_item" href="/osoa/views/index.html">华商动态</a></span> <span class="right_arrow">></span>
								<span class="path_item path_cur">正文</span>
							</h1>
							<div class="dongtai">
								<p class="p_title">大数据时代如何买基金</p>
								<p class="p_sub_title">
									发布时间：2014-09-22 08:25:53.0&nbsp;&nbsp;&nbsp;&nbsp;
									来源：上海证券报
								</p>
								<p class="article_content">
								<p>
	基金的赚钱效应回来了，中登公司数据显示，6月中旬以来，连续12周基金新开户数均保持在10万户以上，目前基金账户总数已经突破4800万户。</p>
<p>
	从2014年的表现来看，虽然市场依然是结构化行情，但公募基金的表现依然十分抢眼，在成立于2014年前的555只偏股基金中，仅有60只没有取得年内正收益。年内总回报超过10%的基金有254只，有81只基金年内总回报超过20%，更有18只年内总回报超过30%。而从近两年的持仓结构上来看，表现出色的绩优基金大多以行业前景广阔、核心竞争力突出、具备良好成长性的公司股票为配置标的，也得到广大投资者的追捧。但对于如何挑选基金，身处大数据时代的我们或许有多种选择途径。</p>
<p>
	对于互联网大数据时代而言，大数据技术在证券市场的应用日益广泛。具体到基金投资领域，除已开发相应的基金产品外，一些第三方机构，还根据基金销售数据，分析出投资者的投资偏好。其实在这种大数据时代，深入挖掘销售、业绩等数据，也倒是可以成为投资者买基金的新思路。</p>
<p>
	近期，好买基金研究中心根据好买基金网真实的交易数据发现，投资者购买基金时并不会首先参考专业投资建议，而往往选择一些中短期排名靠前和紧跟市场热点的基金。更有意思的是，在近期的市场环境中，群众的追涨、追热点选择结果，常常并不逊于专业的判断，收益颇丰。</p>
<p>
	从8月份4周的申购情况来看，华商基金旗下有3只基金受到比较高的关注&mdash;&mdash;华商动态、华商创新成长、华商大盘量化精选。其中华商动态上月有两周的申购量在同类基金（310只）第一，而另外两周申购量同样不俗，分别列同类第四名和第七名。今年6月份以来，该基金净值呈持续波动上升趋势，根据好买最新数据，截至9月12日，近3个月，其以22.88%的收益率位列同类第三。此外，8月份第一周销售量最大的基金是华商大盘量化精选，与华商动态阿尔法相比，该基金的业绩相对平稳，在今年上半年华商动态阿尔法大幅下跌时，华商大盘量化精选的净值能够保持在1.2元至1.3元之间。近3个月，该基金的业绩优秀，收益率为35.41%，同类（310只）排名第一。</p>
<p>
	而对于近期股市的调整，华商基金给出了这样结论，他们认为，对短期走势整体不太乐观，主要是近期负面因素正在不断累积。具体而言，一是宏观经济数据明显差于预期，宏观经济有进一步下行风险；二是市场整体估值，特别是中小板和创业板的估值处于高位，市场泡沫化现象较为严重。三是QE退出预期强烈，资金有从新兴市场流出预期，近期中概股和港股都出现明显回调。加之临近四季度，经过两年的结构性牛市，目前投资者获利颇丰，普遍存在获利了结的倾向，市场可能进一步下探。但对中期走势，华商基金表示相对乐观，因为本轮行情本质上是源于对市场无风险利率水平下行的反应，市场对流动性更为敏感而对经济和基本面依赖度较低，宽松的货币政策将是未来一段时间的主旋律，无风险利率会继续下行，经过一段时间调整后，市场有望重新走强。</p>

								</p>
							</div>
						</div>

						<!-- /.core -->
					</div>
					<!-- /.center -->
				</div>
				<!-- /.main -->
			</div>
		</div>
		<!--底部start-->
	    <div id="footerContent"></div>
	    <!--底部end-->
    </div>
    <script src="/osoa/js/jquery.min.js"></script>
	<script src="/osoa/js/swiper.min.js"></script>
	<script src="/osoa/js/main.js"></script>
	
    <script type="text/javascript">
 	//项目主体页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载
 	var _defaultPage = {"pageCode": "news/newsList", "jsonParam":{},"isLoad":false}; 
 	//项目页头页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/header
 	var _headerPage = {"pageCode": "include/header", "jsonParam":{},"isLoad":false}; 
	//项目页脚页面 pageCode:页面路径编码,jsonParam:参数，isLoad:是否每次都加载,默认是inclue/footer
	var _footerPage = {"pageCode": "include/footer", "jsonParam":{},"isLoad":false};
	</script>
	<script type="text/javascript" src="/osoa/version.js"></script>
	<!--基础框架包 -->
	<script type="text/javascript" src="/thinkiveJs.min.js"></script>
</body>
</html>