<tr class="table-normal-title">
    <th>时间</th>
    {@if data.fund_type=="4"}
    <th>每万份收益</th>
    <th>七日年化收益</th>
    {@/if} {@if data.fund_type!="4"}
    <th>单位净值</th>
    <th>累计净值</th>
    {@/if}
</tr>
{@each data.data as item,index}
<tr>
    <td>${item.nv_date}</td>
    {@if data.fund_type=="4"}
    <td><span class="green">${(item.profit_per_million-0).toFixed(4)} (元)</span></td>
    <td><span class="green">${(item.serven_days_annual_profit-0).toFixed(4)}%</span></td>
    {@/if} {@if data.fund_type!="4"} {@if item.nv_scale=="1"}
    <td><span class="green">${(item.unit_nv-0).toFixed(1)} (元)</span></td>
    <td><span class="green">${(item.sum_nv-0).toFixed(1)} (元)</span></td>
    {@/if} {@if item.nv_scale=="2"}
    <td><span class="green">${(item.unit_nv-0).toFixed(2)} (元)</span></td>
    <td><span class="green">${(item.sum_nv-0).toFixed(2)} (元)</span></td>
    {@/if} {@if item.nv_scale=="3"}
    <td><span class="green">${(item.unit_nv-0).toFixed(3)} (元)</span></td>
    <td><span class="green">${(item.sum_nv-0).toFixed(3)} (元)</span></td>
    {@/if} {@if item.nv_scale=="4"}
    <td><span class="green">${(item.unit_nv-0).toFixed(4)} (元)</span></td>
    <td><span class="green">${(item.sum_nv-0).toFixed(4)} (元)</span></td>
    {@/if} {@if item.nv_scale=="5"}
    <td><span class="green">${(item.unit_nv-0).toFixed(5)} (元)</span></td>
    <td><span class="green">${(item.sum_nv-0).toFixed(5)} (元)</span></td>
    {@/if} {@/if}

</tr>
{@/each}