<div class="fund_table">

    <table class="star_tb fixed_tabble">
        <tbody>
            <tr class="fund_th">
                <th class="txt_l fund_name">基金名称</th>
                <th>关注</th>
                <th>
                    基金代码
                </th>
                <th class="sort_th">
                    最新净值
                    <div class="sort">
                        <div class="sort_ctrl up"></div>
                    </div>
                </th>
                <th class="sort_th">
                    累计净值
                    <div class="sort">
                        <div class="sort_ctrl up"></div>
                    </div>
                </th>
                <th class="sort_th">
                    日涨跌幅(%)
                    <div class="sort">
                        <div class="sort_ctrl up"></div>
                    </div>
                </th>
                <th class="sort_th">
                    成立以来<br>收益率(%)
                    <div class="sort">
                        <div class="sort_ctrl up"></div>
                    </div>
                </th>
                <th>赎回状态</th>
                <th>操作</th>
            </tr>
            <tr data-id="1">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">1.30%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="2">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="3">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">--</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="4">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="5">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="1">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">1.30%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="2">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="3">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">--</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="4">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="5">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr class="more_fund" data-id="1">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">1.30%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr class="more_fund" data-id="2">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr class="more_fund" data-id="3">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">--</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr class="more_fund" data-id="4">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="star_tb money_table">
        <tbody>
            <tr class="fund_th">
                <th class="txt_l fund_name">基金名称</th>
                <th>关注</th>
                <th>基金代码</th>
                <th class="sort_th">万份收益（元）</th>
                <th class="sort_th">七日年化
                    <br>收益率（%）</th>
                <th class="sort_th">日涨跌幅（%）</th>
                <th class="sort_th">成立日期</th>
                <th>赎回状态</th>

                <th>操作</th>
            </tr>
            <tr data-id="1">
                <td class="txt_l fund_name txt-bold">华商领先企业</td>
                <td class="unfav star_btn"></td>
                <td class="txt-bold fund_id">630001</td>
                <td class="txt-bold fund_net_value">0.9468
                    <br> <span>2017-3-24</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">-0.30%</td>
                <td class="num_green txt-bold">1.30%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
            <tr data-id="2">
                <td class="txt_l fund_name txt-bold">华商保本1号</td>
                <td class="star_btn unfav"></td>
                <td class="txt-bold fund_id">002596</td>
                <td class="txt-bold fund_net_value">0.9990
                    <br> <span>2017-04-21</span></td>
                <td>2.3808</td>
                <td class="num_red txt-bold fund_change">0.10%</td>
                <td class="num_green txt-bold">2.10%</td>
                <td>开放</td>
                <td>
                    <a href="####" class="fund_ctrl">申购</a>
                    <a href="####" class="fund_ctrl">定投</a>
                    <div class="ctrl_des">优惠费率：<i class="num_red">0.40%</i>
                        <s>1.50%</s>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>